/* Nav */
.navbar{
	margin-bottom: 0;
}

/*Index pages*/
.index-list li{
	display: flex;
	justify-content: space-between;
}
.index-list li > a{
	align-self: center;
}
.index-subheader{
	margin-bottom: 1em;
}

/*Show pages*/
.show-header .btn{
	vertical-align: text-bottom;
}
.show-header .show-heading{
	display: inline-block;
}
.form-inline{
	display: inline-block;
}
.show-header > *{
	margin-right: 1em;
}
.show-header:last-child{
	margin-right: 0;
}